.todo__box {
  background-color: #fff;
  border-radius: 5px;
}

.todo__box > .container {
  padding: 0.5rem 1rem;
}

.todo__box > .container > .row {
  display: flex;
  flex-direction: column;
}

.box__list {
  background-color: #eeeeee;
}
